layout: index
description: Doric is a minimal,efficient and unified cross-end development framework.
subtitle: Doric - 极简、高效、一致的跨端开发框架
comments: false
---
ul#intro-feature-list

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-desktop
      h3.intro-feature-title 多平台支持
      p.intro-feature-desc Doric支持多个平台，目前支持Android、iOS、Qt、Web
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 高效渲染
      p.intro-feature-desc Doric具备与原生界面媲美的渲染效率
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 渐进式设计
      p.intro-feature-desc Doric可以作为普通控件集成到已有页面上，也可以开发完整页面，当然也可以构建整个应用
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 插件和可扩展性
      p.intro-feature-desc 强大的API带来无限的可能，只需简单的封装即可使用任意原生组件能力